# Python
__pycache__/
*.py[cod]
*$py.class

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Testing
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Project specific
images/
resultados_cor/
